@import "tailwindcss";
@tailwind utilities;

body {
  font-family: sans-serif;
}

@layer components {
  a, button {
    &:hover {
      @apply cursor-pointer;
    }

    &:disabled {
      @apply cursor-not-allowed;
    }
  }

  label {
    @apply text-left cursor-pointer w-fit;
  }
  
  input:is([type="text"], [type="password"], [type="email"], [type="search"]) {
    @apply bg-white text-black rounded-lg px-4 py-2 border border-gray-800/15 w-full;
    
    &:focus {
      @apply outline outline-indigo-500;
    }

    &::placeholder {
      @apply text-gray-700/60;
    }

    &:disabled {
      @apply text-gray-700;
    }
  }

  input[type="checkbox"] {
    @apply accent-indigo-500 text-white;
  }

  select {
    @apply bg-white text-black rounded-lg px-3 py-2.5 border border-gray-800/15 w-full;

    &:focus {
      @apply outline outline-indigo-500;
    }

    &:disabled {
      @apply text-gray-700;
    }
  }

  .link{ 
    @apply text-indigo-500;

    &:hover {
      @apply underline;
    }
  }

  .link-solid {
    @apply px-4 py-2 bg-indigo-500 rounded-lg border-2 border-indigo-500 text-white
  }

  .link-outline {
    @apply px-4 py-2 text-indigo-500 border-2 rounded-lg border-indigo-500;
  }

  .button-solid {
    @apply rounded-lg px-4 py-2 bg-indigo-500 text-white text-center;

    &:disabled {
      @apply bg-gray-800/40;
    }
  }

  .button-solid--success {
    @apply bg-green-500;
  }

  .button-solid--danger {
    @apply bg-red-500;
  }

  .nav-option {
    @apply flex gap-x-3 items-center p-3 transition-all ease-in-out duration-300 rounded-lg;

    &:hover {
      @apply bg-blue-400/15;
    }
  }

  .nav-option--active {
    @apply bg-blue-400/90 text-white cursor-default;

    &:hover {
      @apply bg-blue-400/90 cursor-default;
    }
  }

  .alert {
    @apply rounded-sm px-4 py-3 text-indigo-500 bg-blue-200 text-left;
  }

  .alert--danger {
    @apply bg-red-400/20 text-red-400;
  }

  .alert--warning {
    @apply bg-amber-400/20 text-amber-400;
  }

  .alert--success {
    @apply bg-green-400/20 text-green-400;
  }

  .form-container {
    @apply flex flex-col gap-y-6 border border-gray-800/15 rounded-md p-6;
    
    .form-container__title {
      @apply font-semibold text-xl;
    }
    
    form {
      @apply flex flex-col gap-y-6;

      .field-group {
        @apply flex flex-col gap-y-2;

        &:has(select:required, input:required) > label::after {
          content: '*';
          @apply text-red-400;
        }

        &:has(.alert--danger) input {
          @apply outline outline-red-400;
        }
      }

      &:has(.alert--success) :is(input, select) {
        @apply outline outline-green-400;
      }
    }
  }

  .form-container--multicolumn {
    form {
      @apply grid grid-cols-2 gap-x-6;

      > :last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        @apply text-center;
      }
    }
  }
    
  .table-container {
    @apply flex flex-col gap-y-8 p-6 border rounded-lg border-gray-800/15 overflow-hidden;
    
    .table-container__title {
      @apply text-xl font-semibold;
    }

    .table-wrapper {
      @apply overflow-x-auto grow;
    }
    
    table {
      @apply w-full grow;

      th {
        @apply font-semibold;
      }

      th, td { 
        @apply py-4 pr-4 border-b border-b-gray-800/15 text-left text-base;
      }
      
      tr:last-child > td {
        border-bottom: none;
      }

      tfoot td {
        @apply text-center font-semibold;
      }
    }
  }

  .card {
    @apply flex flex-col items-center justify-center gap-y-3 rounded-lg p-6 bg-indigo-500/15 text-indigo-500 text-center min-w-42 w-fit aspect-square;

    .card__title {
      @apply font-semibold;
    }

    .card__value {
      @apply text-xl font-semibold;
    }
  }
}
