@import "tailwindcss";
@tailwind utilities;

body {
  background-color: #2a3447;
  color: white;
}

@layer components {
  .link {
    @apply px-4 py-2 inline-block;
  }

  .link--solid {
    @apply bg-blue-600 rounded-md text-white;
  }
}
