@import "tailwindcss";
@tailwind utilities;

body {
  font-family: sans-serif;
}

@layer components {
  a, button {
    &:hover {
      @apply cursor-pointer;
    }

    &:disabled {
      @apply cursor-not-allowed;
    }
  }

  label {
    @apply text-left cursor-pointer w-fit;
  }
  
  input:is([type="text"], [type="password"], [type="email"], [type="search"]) {
    @apply bg-white text-black rounded-lg px-4 py-2 border border-gray-800/15 w-full;
    
    &:focus {
      @apply outline outline-indigo-500;
    }

    &::placeholder {
      @apply text-gray-700/60;
    }

    &:disabled {
      @apply text-gray-700;
    }
  }

  input:is([type="checkbox"], [type="radio"]) {
    @apply accent-indigo-500 text-white;
  }

  select {
    @apply bg-white text-black rounded-lg px-3 py-2.5 border border-gray-800/15 w-full;

    &:focus {
      @apply outline outline-indigo-500;
    }

    &:disabled {
      @apply text-gray-700;
    }
  }

  .link{ 
    @apply text-indigo-500;

    &:hover {
      @apply underline;
    }
  }

  .link-solid {
    @apply px-3 py-2 bg-indigo-500 rounded-lg border-2 border-indigo-500 text-white;
  }

  .link-outline {
    @apply px-3 py-2 text-indigo-500 border-2 rounded-lg border-indigo-500;
  }

  .button-solid {
    @apply rounded-lg px-4 py-2 bg-indigo-500 text-white text-center;

    &:disabled {
      @apply bg-gray-800/40;
    }
  }

  .button-outline {
    @apply rounded-lg px-4 py-2 text-indigo-500 border-indigo-500 border-2 text-center;

    &:disabled {
      @apply bg-gray-800/40;
    }
  }
  
  .navbar {
    @apply p-8;

    .nav-links {
      @apply fixed right-0 top-0 p-8 h-dvh w-60 flex flex-col gap-y-2 bg-indigo-500 text-white
      z-10 transition-transform duration-300 ease-in-out;

      :is(.link-solid, .link-outline) {
        @apply border-0 bg-transparent flex gap-x-2 justify-start items-center text-white;
      }
    }

    .nav-links--open {
      @apply translate-x-0;
    }

    .nav-links--closed {
      @apply translate-x-full;
    }
  }

  @media (min-width: theme(--breakpoint-md)) {
    .navbar {
      .nav-links {
        @apply flex flex-row static w-auto h-auto p-0 gap-x-4 bg-transparent;

        .link-solid {
          @apply px-3 py-2 bg-indigo-500 rounded-lg border-2 border-indigo-500 text-white;
        }
      
        .link-outline {
          @apply px-3 py-2 text-indigo-500 border-2 rounded-lg border-indigo-500;
        }
      }

      .nav-links--closed {
        @apply translate-x-0;
      }
    }
  }

  .sidebar {
    @apply fixed left-0 top-0 h-full px-6 min-w-68 border-r-gray-800/10 border-r
    grid grid-rows-[auto_1fr_auto] overflow-hidden bg-white z-10
    transition-transform ease-in-out duration-300;

    .sidebar__link {
      @apply flex gap-x-3 items-center p-3 transition-all ease-in-out duration-300 rounded-lg;
  
      &:hover {
        @apply bg-blue-400/15;
      }
    }
  
    .sidebar__link--active {
      @apply bg-blue-500 text-white cursor-default;
  
      &:hover {
        @apply bg-blue-500 cursor-default;
      }
    }
  }

  .sidebar--closed {
    @apply -translate-x-full;
  }

  .sidebar--open {
    @apply translate-x-0;
  }

  @media (min-width: theme(--breakpoint-md)) {
    .sidebar {
      @apply static;
    }

    .sidebar--closed {
      @apply translate-x-0;
    }
  }  

  .alert {
    @apply rounded-sm px-4 py-3 text-indigo-500 bg-blue-200 text-left
    transition-opacity ease-in-out duration-500;
  }
  
  .alert--invisible {
    @apply opacity-0 pointer-events-none;
  }
  
  .alert--visible {
    @apply opacity-100;
  }

  .alert--error {
    @apply bg-red-200 text-red-500;
  }

  .alert--warning {
    @apply bg-amber-200 text-amber-500;
  }

  .alert--success {
    @apply bg-green-200 text-green-500;
  }

  .form-container {
    @apply flex flex-col flex-wrap gap-y-6 border border-gray-800/15 rounded-md p-6;
    
    .form-container__title {
      @apply font-semibold text-xl;
    }
    
    form {
      @apply flex flex-col gap-y-6;

      .field-group {
        @apply flex flex-col gap-y-2;

        &:has(select:required, input:required) > label::after {
          content: '*';
          @apply text-red-400;
        }

        &:has(.alert--error) input {
          @apply outline outline-red-400;
        }
      }

      &:has(.alert--success) :is(input, select) {
        @apply outline outline-green-400;
      }
    }
  }
    
  .table-container {
    @apply flex flex-col gap-y-8 p-6 border rounded-lg border-gray-800/15 overflow-hidden text-sm;
    
    .table-container__title {
      @apply text-lg font-semibold;
    }

    .table-wrapper {
      @apply overflow-auto grow;
    }
    
    table {
      @apply w-full grow border-collapse;

      tr {
        @apply border-b border-b-gray-800/15;
      }
      
      tbody tr:last-child,
      tfoot tr:last-child {
        @apply border-0;
      }

      th {
        @apply font-semibold;
      }

      td {
        @apply align-top;
      }

      th, td { 
        @apply py-4 pr-4 text-left text-sm;
      }

      tfoot td {
        @apply text-center font-semibold;
      }
    }
  }

  .modal-container {
    @apply fixed top-0 left-0 w-dvw h-dvh flex items-center justify-center bg-gray-900/20 backdrop-blur-sm z-10
    transition-all ease-in-out duration-300;

    .modal {
      @apply bg-white text-gray-800 p-8 rounded-lg shadow-xl flex flex-col gap-y-6 m-8 max-w-120 border border-gray-200;

      .modal__header {
        @apply flex flex-col gap-y-4;

        .modal__title {
          @apply text-indigo-600 font-semibold text-xl;
        }
      }

      .modal__actions {
        @apply flex justify-end gap-x-6;

        .button-primary {
          @apply bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition;
        }

        .button-secondary {
          @apply text-gray-600 hover:text-gray-800;
        }
      }
    }
  }

  .modal-container--open {
    @apply visible opacity-100;
  }

  .modal-container--closed {       
    @apply invisible opacity-0;
  }

  .card {
    @apply flex flex-col items-center justify-center rounded-lg p-6 bg-indigo-500/15 text-indigo-500 text-center w-30 h-30;

    .card__value {
      @apply font-semibold;
    }
  }
}
